@page "/shoes/AddShoe"
@inject ILocalStorageService LocalStorageService
@inject P06Shop.Shared.Services.ShoeServices.AddShoeService addShoesService
<h3>AddShoe</h3>

<SfTextBox Placeholder='Name' Value="@shoeName" @oninput="UpdateShoeName"></SfTextBox>
<SfTextBox Placeholder='Description' Value="@shoeDescription" @oninput="UpdateShoeDescription"></SfTextBox>
<SfTextBox Placeholder='ShoeSize' Value="@shoeSize" @oninput="UpdateShoeSize"></SfTextBox>
<button class="btn btn-primary" @onclick="AddShoeFromApi">Add Shoe</button>
<p>Shoe status: @shoeNameToDisplay</p>

@code {
	//IMyApiService _shoeApiClient = new MyApiService();
	private readonly HttpClient _httpClient = new HttpClient();
	private const string base_url = "http://localhost:5093";
	private const string add_endpoint = "api/Shoe/newShoe";

	private string shoeNameToDisplay = "";
	public string shoeName { get; set; } = "";
	public string shoeDescription { get; set; } = "";
	public string shoeSize { get; set; } = "";

	private void UpdateShoeName(ChangeEventArgs args)
	{
		shoeName = args.Value.ToString();
	}

	private void UpdateShoeDescription(ChangeEventArgs args)
	{
		shoeDescription = args.Value.ToString();
	}

	private void UpdateShoeSize(ChangeEventArgs args)
	{
		shoeSize = args.Value.ToString();
	}

	public async Task AddShoeFromApi()
	{
		var token = await LocalStorageService.GetItemAsStringAsync("authToken");
		token = token.Replace("\"", "");
		shoeNameToDisplay = await addShoesService.AddShoeFromApi(shoeSize, shoeName, shoeDescription, token);
	}
}
