@page "/shoes/DeleteShoe"
@inject ILocalStorageService LocalStorageService
@inject P06Shop.Shared.Services.ShoeServices.DeleteShoeService deleteShoesService

<h3>Delete Shoe</h3>
<SfTextBox Placeholder='Id' Value="@shoeId" @oninput="UpdateShoeId"></SfTextBox>
<button class="btn btn-primary" @onclick="DeleteShoeFromApi">Delete Shoe</button>
<p>Shoe status: @shoeNameToDisplay</p>

@code {
	private string shoeNameToDisplay = "";
	public string shoeId { get; set; } = "";

	private void UpdateShoeId(ChangeEventArgs args)
	{
		shoeId = args.Value.ToString();
	}

	public async Task DeleteShoeFromApi()
	{
		var token = await LocalStorageService.GetItemAsStringAsync("authToken");
		token = token.Replace("\"", "");
		shoeNameToDisplay = await deleteShoesService.DeleteShoeFromApi(shoeId, token);
	}
}
