@page "/shoes/AddShoe"
@using P06Shop.Shared.Services.ShoeServices;
@inject ILocalStorageService LocalStorageService
@inject AddShoeService addShoeService;
<h3>AddShoe</h3>

<SfTextBox Placeholder='Name' Value="@shoeName" @oninput="UpdateShoeName"></SfTextBox>
<SfTextBox Placeholder='Description' Value="@shoeDescription" @oninput="UpdateShoeDescription"></SfTextBox>
<SfTextBox Placeholder='ShoeSize' Value="@shoeSize" @oninput="UpdateShoeSize"></SfTextBox>
<button class="btn btn-primary" @onclick="DisplayShoeAddSuccess">Add Shoe</button>
<p>Shoe status: @shoeNameToDisplay</p>

@code {
	//IMyApiService _shoeApiClient = new MyApiService();
	private string shoeNameToDisplay = "";
	public string shoeName { get; set; } = "";
	public string shoeDescription { get; set; } = "";
	public string shoeSize { get; set; } = "";

	private void UpdateShoeName(ChangeEventArgs args)
	{
		shoeName = args.Value.ToString();
	}

	private void UpdateShoeDescription(ChangeEventArgs args)
	{
		shoeDescription = args.Value.ToString();
	}

	private void UpdateShoeSize(ChangeEventArgs args)
	{
		shoeSize = args.Value.ToString();
	}

	public async Task DisplayShoeAddSuccess()
	{
		var token = await LocalStorageService.GetItemAsStringAsync("authToken");
		token = token.Replace("\"", "");
		shoeNameToDisplay = await addShoeService.AddShoeFromApi(shoeSize, shoeName, shoeDescription, token);
	}
}
