@page "/shoes/AddShoe"
@inject ILocalStorageService LocalStorageService
@inject P06Shop.Shared.Services.ShoeServices.AddShoeService addShoesService
@inject P06Shop.Shared.Services.ShoeServices.ValidateShoeService validateShoeService
<h3>AddShoe</h3>

<SfTextBox Placeholder='Name' Value="@shoeName" @oninput="UpdateShoeName"></SfTextBox>
<SfTextBox Placeholder='Description' Value="@shoeDescription" @oninput="UpdateShoeDescription"></SfTextBox>
<SfTextBox Placeholder='ShoeSize' Value="@shoeSize" @oninput="UpdateShoeSize"></SfTextBox>
<button class="btn btn-primary" @onclick="AddShoeFromApi">Add Shoe</button>
<p>Shoe status: @shoeNameToDisplay</p>
@if (isLoading)
{
	<img src="/loading.gif" alt="Loading..." style="width: 20vw; min-width: 100px;" />
}
@code {
	private string shoeNameToDisplay = "";
	public string shoeName { get; set; } = "";
	public string shoeDescription { get; set; } = "";
	public string shoeSize { get; set; } = "";
	private bool isLoading = false;

	private void UpdateShoeName(ChangeEventArgs args)
	{
		shoeName = args.Value.ToString();
	}

	private void UpdateShoeDescription(ChangeEventArgs args)
	{
		shoeDescription = args.Value.ToString();
	}

	private void UpdateShoeSize(ChangeEventArgs args)
	{
		shoeSize = args.Value.ToString();
	}

	public async Task AddShoeFromApi()
	{
		isLoading = true;
		var token = await LocalStorageService.GetItemAsStringAsync("authToken");
		token = token.Replace("\"", "");
		try
		{
			if (validateShoeService.validateShoe(double.Parse(shoeSize), shoeName, shoeDescription))
			{
				shoeNameToDisplay = await addShoesService.AddShoeFromApi(shoeSize, shoeName, shoeDescription, token);
			}
			else shoeNameToDisplay = "Nieprawidlowe dane buta";
		}
		finally
		{
			isLoading = false;
		}
	}
}
