@page "/shoes/DeleteShoe"
@using P06Shop.Shared.Services.ShoeServices;
@inject ILocalStorageService LocalStorageService
@inject DeleteShoeService deleteShoeService

<h3>Delete Shoe</h3>
<SfTextBox Placeholder='Id' Value="@shoeId" @oninput="UpdateShoeId"></SfTextBox>
<button class="btn btn-primary" @onclick="GetDeleteMessage">Delete Shoe</button>
<p>Shoe status: @shoeNameToDisplay</p>

@code {
	private string shoeNameToDisplay = "";
	public string shoeId { get; set; } = "";

	private void UpdateShoeId(ChangeEventArgs args)
	{
		shoeId = args.Value.ToString();
	}
	public async Task GetDeleteMessage()
	{
		var token = await LocalStorageService.GetItemAsStringAsync("authToken");
		token = token.Replace("\"", "");
		shoeNameToDisplay = await deleteShoeService.DeleteShoeFromApi(shoeId, token);
	}
}
