@page "/shoes/GetShoe"
@using System.Net.Http
@using P06Shop.Shared.Services.ShoeServices;
@inject ILocalStorageService LocalStorageService
@inject GetShoeService getShoeService

<h3>Get Shoe</h3>
<SfTextBox Placeholder='Id' Value="@shoeId" @oninput="UpdateShoeId"></SfTextBox>
<p>Shoe name: @shoeNameToDisplay</p>
<p>Shoe description: @shoeDescToDisplay</p>
<p>Shoe size: @shoeSizeToDisplay</p>
<button class="btn btn-primary" @onclick="DisplayGotShoe">Get Shoe</button>

@code {
	private string shoeNameToDisplay = "";
	private string shoeDescToDisplay = "";
	private string shoeSizeToDisplay = "";
	public string shoeId { get; set; } = "";

	private void UpdateShoeId(ChangeEventArgs args)
	{
		shoeId = args.Value.ToString();
	}
	public async Task DisplayGotShoe()
	{
		var shoeToDisplay = await getShoeService.GetShoeFromApi(shoeId);
		if (shoeToDisplay != null) //&& responseObj.Value<string>("data") != null
		{
			shoeNameToDisplay = shoeToDisplay.Name;
			shoeDescToDisplay = shoeToDisplay.Description;
			shoeSizeToDisplay = shoeToDisplay.ShoeSize.ToString();
		}
		else
		{
			shoeNameToDisplay = "No shoe found";
			shoeDescToDisplay = "No shoe found";
			shoeSizeToDisplay = "No shoe found";
		}
	}
	/*
	public async Task GetShoeFromApi()
	{
		var uri = base_url + "/" + string.Format(shoe_endpoint, shoeId);
		var response = await _httpClient.GetAsync(uri); //"http://localhost:5093/api/Shoe/GetShoe/1"
		var jsonResponse = await response.Content.ReadAsStringAsync();
		var responseObj = JsonConvert.DeserializeObject<JObject>(jsonResponse);
		bool success = responseObj.Value<bool>("success");
		if (success) //&& responseObj.Value<string>("data") != null
		{
			var shoeData = responseObj["data"].ToObject<Shoe>();
			shoeNameToDisplay = shoeData.Name;
			shoeDescToDisplay = shoeData.Description;
			shoeSizeToDisplay = shoeData.ShoeSize.ToString();
		}
		else
		{
			shoeNameToDisplay = "No shoe found";
			shoeDescToDisplay = "No shoe found";
			shoeSizeToDisplay = "No shoe found";
		}
	}
	*/
}
