@page "/shoes"
@inject NavigationManager NavigationManager
<PageTitle>Shoes</PageTitle>

<h3>Shoes</h3>
<button class="btn btn-primary" @onclick="NavigateToGetShoe">Get Shoe</button>
<!--<button class="btn btn-primary" @onclick="NavigateToAddShoe">Add Shoe</button>-->
<!--<button class="btn btn-primary" @onclick="NavigateToDeleteShoe">Delete Shoe</button>-->
<!--<button class="btn btn-primary" @onclick="NavigateToUpdateShoe">Update Shoe</button>-->

@code {
    private void NavigateToGetShoe()
    {
        // Redirect to the "/shoes/GetShoe" page
        NavigationManager.NavigateTo("/shoes/GetShoe");
    }
    /*
    private void NavigateToAddShoe()
    {
        // Redirect to the "/shoes/GetShoe" page
        NavigationManager.NavigateTo("/shoes/AddShoe");
    }

    private void NavigateToDeleteShoe()
    {
        // Redirect to the "/shoes/GetShoe" page
        NavigationManager.NavigateTo("/shoes/DeleteShoe");
    }

    private void NavigateToUpdateShoe()
    {
        // Redirect to the "/shoes/GetShoe" page
        NavigationManager.NavigateTo("/shoes/UpdateShoe");
    }
    */
}
